{% extends "layouts/print_base.html" %}
{% block title %}{{ voucher.get_voucher_type_display }} Voucher {{ voucher.voucher_no }}{% endblock %}

{% block print_content %}
<h1 class="doc-title">{{ voucher.get_voucher_type_display }} Voucher</h1>

<table class="meta">
  <tr>
    <td class="lbl">Voucher No</td><td>{{ voucher.voucher_no }}</td>
    <td class="lbl">Date</td><td>{{ voucher.voucher_date|date:"d-M-Y" }}</td>
    <td class="lbl">Status</td><td>{% if voucher.posted == "Y" %}Posted{% else %}{{ voucher.get_status_display }}{% endif %}</td>
  </tr>
  <tr>
    <td class="lbl">{% if voucher.voucher_type == "RV" %}Received In{% else %}Paid From{% endif %}</td>
    <td>{{ account_title }}</td>
    <td class="lbl">Payment Mode</td><td>{{ voucher.payment_method|default:"&mdash;" }}</td>
    <td class="lbl">Account Code</td><td>{{ voucher.account_no }}</td>
  </tr>
  {% if voucher.cheque_no or voucher.bank_name or voucher.transaction_ref %}
  <tr>
    <td class="lbl">Bank</td><td>{{ voucher.bank_name|default:"&mdash;" }}</td>
    <td class="lbl">Cheque No</td><td>{{ voucher.cheque_no|default:"&mdash;" }}{% if voucher.cheque_date %} &middot; {{ voucher.cheque_date|date:"d-M-Y" }}{% endif %}</td>
    <td class="lbl">Reference</td><td>{{ voucher.transaction_ref|default:"&mdash;" }}</td>
  </tr>
  {% endif %}
</table>

<table class="items">
  <thead>
    <tr>
      <th style="width:34px">#</th>
      <th style="width:110px">Code</th>
      <th>Account</th>
      <th>Particulars</th>
      <th class="num" style="width:110px">Debit</th>
      <th class="num" style="width:110px">Credit</th>
    </tr>
  </thead>
  <tbody>
    {% for line in lines %}
    <tr>
      <td>{{ line.line_number }}</td>
      <td>{{ line.account_no }}</td>
      <td>{{ line.account_title }}</td>
      <td>{{ line.remarks|default:"" }}</td>
      <td class="num">{% if line.debit_amount %}{{ line.debit_amount|floatformat:2 }}{% else %}&mdash;{% endif %}</td>
      <td class="num">{% if line.credit_amount %}{{ line.credit_amount|floatformat:2 }}{% else %}&mdash;{% endif %}</td>
    </tr>
    {% empty %}
    <tr><td colspan="6">No lines recorded on this voucher.</td></tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <th colspan="4" class="num">Total</th>
      <th class="num">{{ voucher.debit_amount|floatformat:2 }}</th>
      <th class="num">{{ voucher.credit_amount|floatformat:2 }}</th>
    </tr>
  </tfoot>
</table>

<div class="totals">Amount: {{ voucher_total|floatformat:2 }}</div>
<div class="words">{{ amount_words }}</div>

{% if voucher.remarks %}
<table class="meta" style="margin-top:10px">
  <tr><td class="lbl" style="width:90px">Narration</td><td>{{ voucher.remarks }}</td></tr>
</table>
{% endif %}

<div class="sign">
  <div>Prepared By</div>
  <div>Checked By</div>
  <div>Approved By</div>
  <div>Received By</div>
</div>
{% endblock %}
