SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
TIME_ZONE=Asia/Karachi
USE_SQLITE=True
DB_ENGINE=django.db.backends.mysql
DB_NAME=industrial_erp
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
SECURE_SSL_REDIRECT=False
