SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
TIME_ZONE=Asia/Karachi
USE_SQLITE=True
DB_ENGINE=django.db.backends.postgresql
DB_NAME=industrial_erp
DB_USER=postgres
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432
SECURE_SSL_REDIRECT=False
