Django==5.2.15
asgiref==3.11.1
python-decouple==3.8
psycopg[binary]==3.2.10
whitenoise==6.9.0
gunicorn==26.0.0
django-htmx==1.23.0
django-widget-tweaks==1.5.0
pillow==12.2.0
sqlparse==0.5.5
tzdata==2026.2
openpyxl==3.1.5
