<div x-data="{ show: false }" x-init="$nextTick(() => show = true); setTimeout(() => show = false, 5000)"
     x-show="show" x-cloak
     x-transition:enter="transition ease-out duration-300"
     x-transition:enter-start="opacity-0 translate-x-8"
     x-transition:enter-end="opacity-100 translate-x-0"
     x-transition:leave="transition ease-in duration-200"
     x-transition:leave-start="opacity-100 translate-x-0"
     x-transition:leave-end="opacity-0 translate-x-8"
     class="flex items-start gap-2 rounded-lg border px-4 py-3 text-sm font-medium shadow-lg {{ cls }}">
  <span class="mt-px">{{ icon }}</span>
  <span class="flex-1">{{ message }}</span>
  <button type="button" @click="show = false" class="ml-2 text-base leading-none opacity-60 hover:opacity-100">&times;</button>
</div>
