{% extends "layouts/portal.html" %}
{% block content %}
{% url 'organizations:organization_list' as cancel_url %}
{% component "forms/crud_form" title=page_title form=form cancel_url=cancel_url narrow=True save_label="Save Organization" %}
  {% component "forms/section" title="Basic Info" %}
    <div class="form-grid form-grid--cols-2">
      {% for field in form %}{% if field.name in "parent,title,code,status" %}{% if field.name == "parent" %}{% include "components/forms/field.html" with field=field extra="span-full" only %}{% else %}{% include "components/forms/field.html" with field=field only %}{% endif %}{% endif %}{% endfor %}
    </div>
  {% endcomponent %}
  {% component "forms/section" title="Contact & Branding" %}
    <div class="form-grid form-grid--cols-2">
      {% for field in form %}{% if field.name in "logo,phone,cell,fax,email,website" %}
      <div>
        {% include "components/forms/field.html" with field=field only %}
        {% if field.name == "logo" and form.instance.logo %}<img src="{{ form.instance.logo }}" alt="Current logo" class="mt-2 h-14 w-auto rounded object-contain">{% endif %}
      </div>
      {% endif %}{% endfor %}
      {% for field in form %}{% if field.name == "address" %}{% include "components/forms/field.html" with field=field extra="span-full" only %}{% endif %}{% endfor %}
    </div>
  {% endcomponent %}
{% endcomponent %}
{% endblock %}
